langchain
langchain-community
faiss-cpu==1.7.4
beautifulsoup4
boto3
langchain-huggingface
gpt4all
sphinx
sphinx-autodoc-typehints
unstructured
datasets
matplotlib
ipywidgets
blackdatasets
seaborn
torch
transformers
types-tqdm
accelerate>=0.26.0
bitsandbytes
