langchain
langchain-community
faiss-cpu
beautifulsoup4
boto3
langchain-huggingface
gpt4all
unstructured
datasets
matplotlib
ipywidgets
black
datasets
seaborn
torch
transformers
types-tqdm
accelerate>=0.26.0
bitsandbytes
