.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.chat-input-field {
  flex: 1;
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 8px;
  box-sizing: border-box;
}

.chat-input-button {
  padding: 10px 16px;
  /* Taille du bouton */
  font-size: 16px;
  /* Taille de texte */
  border: none;
  /* Supprime la bordure par défaut */
  background-color: #007bff;
  /* Couleur de fond */
  color: #fff;
  /* Texte blanc */
  cursor: pointer;
  /* Curseur interactif */
  border-radius: 20px;
  /* Bordure arrondie */
  flex-shrink: 0;
}
