.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: blue;
  padding: 20px;
  box-sizing: border-box;
}

.login-header1 {
  position: absolute;
  top: 30px;
  font-size: 5rem;
  color: white;
}

.login-header2 {
  position: absolute;
  top: 200px;
  font-size: 1rem;
  color: white;
}

.login-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: grey;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
